#map {
    width: 100%;
    height: 100%;
    margin: .5em;
}

#mapResize {
    width: 1500px;
    height: 800px;
    padding: 1em;
    text-align: center;
    margin: 0;
}

#territoryFile {
    width: 800px;
    height: 70px;
}
